*-blx.aux
*-blx.bib
*-concordance.tex
*-converted-to.*
*-gnuplottex-*
*-tags.tex
*-tikzDictionary
*.4ct
*.4tc
*.?end
*.[1-9]
*.[1-9]R
*.[1-9][0-9]
*.[1-9][0-9]R
*.[1-9][0-9][0-9]
*.[1-9][0-9][0-9]R
*.acn
*.acr
*.alg
*.aux
*.auxlock
*.backup
*.bak
*.bbl
*.bcf
*.blg
*.brf
*.cb
*.cb2
*.class
*.cpt
*.ctxt
*.cut
*.dpth
*.dvi
*.ear
*.el
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R
*.end
*.ent
*.fdb_latexmk
*.fff
*.fls
*.fmt
*.fot
*.gaux
*.glg
*.glo
*.gls
*.glsdefs
*.gtex
*.hst
*.idv
*.idx
*.ilg
*.ind
*.lg
*.listing
*.loa
*.lod
*.loe
*.lof
*.log
*.log
*.lol
*.lot
*.lox
*.lpz
*.ltjruby
*.lyx~
*.lzo
*.lzs
*.maf
*.md5
*.mf
*.mlf
*.mlt
*.mp
*.mtc[0-9]*
*.mw
*.nar
*.nav
*.nlg
*.nlo
*.nls
*.out
*.pax
*.pdf
*.pdfpc
*.pdfsync
*.pre
*.pyg
*.pytxcode
*.rar
*.run.xml
*.sagetex.py
*.sagetex.sage
*.sagetex.scmd
*.sav
*.slf[0-9]*
*.slt[0-9]*
*.snm
*.soc
*.sout
*.spl
*.sta
*.stc[0-9]*
*.sympy
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.t[1-9]
*.t[1-9][0-9]
*.tar.gz
*.tdo
*.tfm
*.thm
*.tikz
*.toc
*.tps
*.trc
*.ttt
*.upa
*.upb
*.ver
*.vrb
*.war
*.wrt
*.xcp
*.xdv
*.xdy
*.xmpi
*.xref
*.xyc
*.xyd
*.zip
*temp*
*temp.*
*~[0-9]*
.*.lb
.*.swp
./auto/*
.mtj.tmp/
.pdf
.texpadtmp
TSWLatexianTemp*
_minted*
acs-*.bib
hs_err_pid*
latex.out/
plotly
pythontex-files-*/
sympy-plots-for-*.tex/
temp